body {background-color: #4641cc;}
body { color: thistle;
}
strong { color: black;}
marquee {color: darkblue;}
html {background: url("https://wallpapercave.com/wp/wp4712326.jpg");}
body{
	text-align: center;
}
.font{
	font-size: 18px;
}
body{border: 2px solid ;}
body{ opacity: 0.9;}
body {padding: 23px;}
body{background: linear-gradient(royalblue, #6c69c9);}
.font {font-family: 'Lato', sans-serif;}
.title{font-family: 'Roboto', sans-serif;}




